In [45]:
import pandas as pd
import numpy as np

In [77]:
ratings = pd.read_csv("ratingss.csv")
movies = pd.read_csv("moviess.csv")
tags = pd.read_csv("tagss.csv")
links = pd.read_csv("linkss.csv")

In [78]:
d1 = pd.merge(movies, ratings, on="movieId")
d2 = pd.merge(tags, links, on="movieId")
df = pd.merge(d1, d2, on="movieId")
duplicates = df[df.duplicated]
duplicates

Empty DataFrame
Columns: [movieId, title, genres, userId_x, rating, timestamp_x, userId_y, tag, timestamp_y, imdbId, tmdbId]
Index: []

In [80]:
df.rename(columns={'userId_x' : 'userId_ratings', 'userId_y': 'userId_tags'}, inplace=True)
df.rename(columns={'timestamp_x' : 'ratings_timestamp', 'timestamp_y': 'tags_timestamp'}, inplace=True)
df

,movieId,title,genres,userId_ratings,rating,ratings_timestamp,userId_tags,tag,tags_timestamp,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,336,pixar,1139045764,114709,862.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,474,pixar,1137206825,114709,862.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,567,fun,1525286013,114709,862.0
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,336,pixar,1139045764,114709,862.0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,474,pixar,1137206825,114709,862.0
...,...,...,...,...,...,...,...,...,...,...,...
233208,187595,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,586,5.0,1529899556,62,star wars,1528934552,3778644,348350.0
233209,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1537098554,184,anime,1537098582,1636780,71172.0
233210,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1537098554,184,comedy,1537098587,1636780,71172.0
233211,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1537098554,184,gintama,1537098603,1636780,71172.0
233212,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1537098554,184,remaster,1537098592,1636780,71172.0

In [86]:
# Converting to date-time format
def date_time_format(x):
    hours = 0
    minutes = 0
    
    if x//3600 <= 23:
        hours = (x // 3600)
    else:
        hours = (x // 3600) % 24
    if x//60 <= 59:
        minutes = x // 59
    else:
        minutes = (x // 60) % 60
    
    
    if hours <= 9 and minutes <= 9:
        return f"1970-01-01  0{hours}:0{minutes}"
    elif hours <= 9:
        return f"1970-01-01 0{hours}:{minutes}"
    else:
        return f"1970-01-01 {hours}:{minutes}"

df['ratings_timestamp'] = df['ratings_timestamp'].apply(date_time_format)
df['tags_timestamp'] = df['tags_timestamp'].apply(date_time_format)

In [87]:
df

,movieId,title,genres,userId_ratings,rating,ratings_timestamp,userId_tags,tag,tags_timestamp,imdbId,tmdbId,year,Number of Genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,1970-01-01 18:45,336,pixar,1970-01-01 09:36,114709,862.0,1995,5
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,1970-01-01 18:45,474,pixar,1970-01-01 02:47,114709,862.0,1995,5
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,1970-01-01 18:45,567,fun,1970-01-01 18:33,114709,862.0,1995,5
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,1970-01-01 06:36,336,pixar,1970-01-01 09:36,114709,862.0,1995,5
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,1970-01-01 06:36,474,pixar,1970-01-01 02:47,114709,862.0,1995,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233208,187595,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,586,5.0,1970-01-01 04:05,62,star wars,1970-01-01 00:02,3778644,348350.0,2018,4
233209,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1970-01-01 11:49,184,anime,1970-01-01 11:49,1636780,71172.0,2010,4
233210,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1970-01-01 11:49,184,comedy,1970-01-01 11:49,1636780,71172.0,2010,4
233211,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1970-01-01 11:49,184,gintama,1970-01-01 11:50,1636780,71172.0,2010,4
233212,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1970-01-01 11:49,184,remaster,1970-01-01 11:49,1636780,71172.0,2010,4

In [88]:
# New feature 1 - Extract year
def get_year(x):
    split = x.split()
    year = split[-1][1:-1]
    return year

df['year'] = df['title'].apply(get_year)
df

,movieId,title,genres,userId_ratings,rating,ratings_timestamp,userId_tags,tag,tags_timestamp,imdbId,tmdbId,year,Number of Genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,1970-01-01 18:45,336,pixar,1970-01-01 09:36,114709,862.0,1995,5
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,1970-01-01 18:45,474,pixar,1970-01-01 02:47,114709,862.0,1995,5
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,1970-01-01 18:45,567,fun,1970-01-01 18:33,114709,862.0,1995,5
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,1970-01-01 06:36,336,pixar,1970-01-01 09:36,114709,862.0,1995,5
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,1970-01-01 06:36,474,pixar,1970-01-01 02:47,114709,862.0,1995,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233208,187595,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,586,5.0,1970-01-01 04:05,62,star wars,1970-01-01 00:02,3778644,348350.0,2018,4
233209,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1970-01-01 11:49,184,anime,1970-01-01 11:49,1636780,71172.0,2010,4
233210,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1970-01-01 11:49,184,comedy,1970-01-01 11:49,1636780,71172.0,2010,4
233211,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1970-01-01 11:49,184,gintama,1970-01-01 11:50,1636780,71172.0,2010,4
233212,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1970-01-01 11:49,184,remaster,1970-01-01 11:49,1636780,71172.0,2010,4

In [89]:
# New feature 2 - number of genre
def genre_count(x):
    count = 0
    for i in x:
        if i == '|':
            count = count + 1
    return count + 1


df['Number of Genres'] = df['genres'].apply(genre_count)

In [90]:
df

,movieId,title,genres,userId_ratings,rating,ratings_timestamp,userId_tags,tag,tags_timestamp,imdbId,tmdbId,year,Number of Genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,1970-01-01 18:45,336,pixar,1970-01-01 09:36,114709,862.0,1995,5
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,1970-01-01 18:45,474,pixar,1970-01-01 02:47,114709,862.0,1995,5
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,1970-01-01 18:45,567,fun,1970-01-01 18:33,114709,862.0,1995,5
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,1970-01-01 06:36,336,pixar,1970-01-01 09:36,114709,862.0,1995,5
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,1970-01-01 06:36,474,pixar,1970-01-01 02:47,114709,862.0,1995,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233208,187595,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,586,5.0,1970-01-01 04:05,62,star wars,1970-01-01 00:02,3778644,348350.0,2018,4
233209,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1970-01-01 11:49,184,anime,1970-01-01 11:49,1636780,71172.0,2010,4
233210,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1970-01-01 11:49,184,comedy,1970-01-01 11:49,1636780,71172.0,2010,4
233211,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1970-01-01 11:49,184,gintama,1970-01-01 11:50,1636780,71172.0,2010,4
233212,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1970-01-01 11:49,184,remaster,1970-01-01 11:49,1636780,71172.0,2010,4

In [93]:
# New feature 3 - primary genre
df['primary_genre'] = df['genres'].str.split('|').str[0]
df

,movieId,title,genres,userId_ratings,rating,ratings_timestamp,userId_tags,tag,tags_timestamp,imdbId,tmdbId,year,Number of Genres,primary_genre
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,1970-01-01 18:45,336,pixar,1970-01-01 09:36,114709,862.0,1995,5,Adventure
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,1970-01-01 18:45,474,pixar,1970-01-01 02:47,114709,862.0,1995,5,Adventure
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,1970-01-01 18:45,567,fun,1970-01-01 18:33,114709,862.0,1995,5,Adventure
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,1970-01-01 06:36,336,pixar,1970-01-01 09:36,114709,862.0,1995,5,Adventure
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,1970-01-01 06:36,474,pixar,1970-01-01 02:47,114709,862.0,1995,5,Adventure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233208,187595,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,586,5.0,1970-01-01 04:05,62,star wars,1970-01-01 00:02,3778644,348350.0,2018,4,Action
233209,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1970-01-01 11:49,184,anime,1970-01-01 11:49,1636780,71172.0,2010,4,Action
233210,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1970-01-01 11:49,184,comedy,1970-01-01 11:49,1636780,71172.0,2010,4,Action
233211,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1970-01-01 11:49,184,gintama,1970-01-01 11:50,1636780,71172.0,2010,4,Action
233212,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1970-01-01 11:49,184,remaster,1970-01-01 11:49,1636780,71172.0,2010,4,Action

In [106]:
# New feature 4 - Movie is pg-13?
def pg(x):
    pg13 = False
    gen = x.split('|')
    for i in gen:
        if i == 'Children':
            pg13 = True
    return pg13
    

df['is_pg13'] = df['genres'].apply(pg)

In [107]:
df

,movieId,title,genres,userId_ratings,rating,ratings_timestamp,userId_tags,tag,tags_timestamp,imdbId,tmdbId,year,Number of Genres,primary_genre,is_pg13
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,1970-01-01 18:45,336,pixar,1970-01-01 09:36,114709,862.0,1995,5,Adventure,True
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,1970-01-01 18:45,474,pixar,1970-01-01 02:47,114709,862.0,1995,5,Adventure,True
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,1970-01-01 18:45,567,fun,1970-01-01 18:33,114709,862.0,1995,5,Adventure,True
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,1970-01-01 06:36,336,pixar,1970-01-01 09:36,114709,862.0,1995,5,Adventure,True
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,1970-01-01 06:36,474,pixar,1970-01-01 02:47,114709,862.0,1995,5,Adventure,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233208,187595,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,586,5.0,1970-01-01 04:05,62,star wars,1970-01-01 00:02,3778644,348350.0,2018,4,Action,True
233209,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1970-01-01 11:49,184,anime,1970-01-01 11:49,1636780,71172.0,2010,4,Action,False
233210,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1970-01-01 11:49,184,comedy,1970-01-01 11:49,1636780,71172.0,2010,4,Action,False
233211,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1970-01-01 11:49,184,gintama,1970-01-01 11:50,1636780,71172.0,2010,4,Action,False
233212,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1970-01-01 11:49,184,remaster,1970-01-01 11:49,1636780,71172.0,2010,4,Action,False